<h1><%= @book.title %></h1>
<h3><%= @book.description %></h3>

<img src=<%= @book.image %> alt=<%= @book.title %>>

<ul>
  <li><%= link_to "Edit", edit_book_path(@book) %></li>
  <li><%= link_to "Index" , "/books"%> </li>
</ul>
